{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block"><a href="{% url 'contract_detail' contract.slug %}"
                                                    class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a><h3>Добавить заявку</h3></div>

                <div class="card-body">
                    <form class="forms-sample" action="{% url 'request_add' contract.slug %}" method="post"
                          enctype="multipart/form-data">

                        <input type="text" name="contract" value="{{ contract.id }}" style="display: none">
                        <div class="form-group">
                            <label for="name">Название</label>
                            <input type="text" class="form-control" id="name" placeholder="Название" name="name">
                        </div>
                        <div class="form-group">
                            <label>Заявка</label>
                            <input type="file" name="request" class="form-control">
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
{#                        <button class="btn btn-light">Cancel</button>#}

                    </form>
                </div>
            </div>
        </div>

{% endblock %}