{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <a href="{% url 'contract_detail' request_mat.contract.slug %}"
                                                    class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{ request_mat.name }}</h3>
                            <a href="{{ request_mat.file.url }}" download>{{ request_mat.file }}</a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'invoice_add' request_mat.id %}" class="btn btn-primary">Новый счет</a>
                        </div>
                    </div>

                </div>
                <div class="card-body p-0 ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Файл</th>
                                <th>Статус</th>
                                <th>Изменить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in request_mat.invoice.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ invoice.file }}</td>
                                    <td>{{ invoice.status }}</td>
                                <td><a href="{% url 'invoice_edit' invoice.id %}" class="btn btn-danger">Изменить</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}