{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <a href="{% url 'contract_detail' request_mat.contract.slug %}"
                       class="btn btn-light"><i
                            class="ik ik-arrow-left"></i>Назад</a>
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{ request_mat.name }}</h3>
                            <p>Файл: <a href="{{ request_mat.file.url }}" target="_blank" style="color: #4da3ff">{{ request_mat.file }}</p>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'invoice_add' request_mat.id %}" class="btn btn-primary">Новый счет</a>
                        </div>
                    </div>

                </div>
                <div class="card-body p-0 ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Файл</th>
                                <th>Статус</th>
                                <th>Оплачено?</th>
                                <th>Создан</th>
                                <th>Изменен</th>
                                <th></th>
                                <th>Отправить в телеграм</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invoice in request_mat.invoice.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td><a href="{{ invoice.file.url }}" style="color: #4da3ff" target="_blank ">{{ invoice.file }}</a></td>
                                    <td>{{ invoice.status }}</td>
                                    <td>{% if invoice.is_paid %}
                                        Да
                                    {% else %}
                                        Нет
                                        {% endif %}
                                    </td>
                                    <td>{{ invoice.created_at }}</td>
                                    <td>{{ invoice.updated_at }}</td>
                                    <td>
                                        <a href="{% url 'invoice_edit' invoice.id %}"
                                           class="btn btn-danger">Изменить</a>
                                    </td>
                                    <td>
                                        <form action="{% url 'send_telegram' %}" method="post">
                                            {% csrf_token %}
                                            <input type="text" name="id" value="{{ invoice.id }}" style="display: none">
                                            <button type="submit" class="btn btn-primary">Отправить</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}