{% extends 'appbase/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <br>
                <br>
                <div class="row">
                    <div class="col-8">
                        <h2>Аналитика</h2>
                        <p>Объект: {{ object.name }}</p>
                    </div>
                    <div class="col-4 inline-group">
                        <a href="{% url 'total_stats' object.slug %}" class="btn btn-primary">Общая статистика</a>
                        <a href="{% url 'release_mat_stats' object.slug %}" class="btn btn-success" style="margin: 5px">Ход
                            движении</a>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <div style="margin: 20px">
                        <div>
                            <form method="get" style="">
                                {#                                {{ filter.form.as_p }}#}
                                <div class="row">

                                    {% for field in filter.form %}
                                        <div class="col-sm-4">
                                            <label for="{{ field.id }}">{{ field.label_tag }}</label> {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <br>
                                <input type="submit" value="Фильтр" class="btn btn-primary">
                                <a href="{% url 'analytics' object.slug %}" class="btn btn-danger">Сброс</a>
                            </form>

                        </div>
                        <br>
                        <div class="" style="display: inline-flex">
                            <input type="search" id="search" class="form-control" placeholder="Поиск"
                                   style="border-radius: 0; width: 230px" onkeyup="searchFunc()">
                            <button class="btn-lg btn-success" style="border-radius: 0"><i class="ik ik-search"></i>
                            </button>
                        </div>

                    </div>

                    <table class="table" style="font-size:15px">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Работа</th>
                            <th>Статус работы</th>
                            <th>Заявка обработана?</th>
                            <th>Количество</th>
                            <th>Отпущено</th>
                            {#                            <th>Отпущено (период)</th>#}
                            <th>Остаток</th>
                            <th>ед. изм.</th>
                            <th>Код инструмента</th>
                            <th>Наличный?</th>
                            <th>Цена</th>
                            <th>Сумма</th>

                        </tr>
                        </thead>
                        <tbody id="materials_list">
                        <form action="{% url 'export_analytics' object.slug %}" method="post">
                            {% csrf_token %}
                            <div>

                                {% for material in filter.qs %}
                                    <tr>
                                        <input type="text" name="material{{ forloop.counter }}"
                                               value="{{ material.id }}" style="display: none">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ material.name }}</td>
                                        <td>{{ material.invoice.request_mat.contract.name }}</td>
                                        <td>{{ material.invoice.request_mat.contract.get_status_display }}</td>
                                        <td>{% if material.invoice.request_mat.is_done %}
                                            Да
                                        {% else %}
                                            Нет
                                        {% endif %}
                                        </td>
                                        <td>{{ material.quantity }}</td>
                                        <td>{{ material.release_count }}</td>
                                        {#                                    <td></td>#}
                                        <td>{{ material.quantity|sub:material.release_count }}</td>
                                        <td>{{ material.units }}</td>
                                        <td>
                                            {% if material.instrument_code == None %}
                                                Нет
                                            {% else %}
                                                {{ material.instrument_code }}
                                            {% endif %}
                                        </td>
                                        <td>{% if material.invoice.is_cash %}Да {% else %}Нет{% endif %}</td>
                                        <td>{{ material.price }}</td>
                                        <td>{{ material.sum_price }}</td>
                                    </tr>


                                {% endfor %}
                                <tr>
                                    <th scope="row">Итого:</th>
                                    <th>{{ filter.qs.count }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th scope="row">{{ total_sum_price }}</th>
                                    <input type="text" name="count_materials" value="{{ filter.qs.count }}"
                                           style="display:none;">
                                    <input type="text" name="total_sum_price" value="{{ total_sum_price }}"
                                           style="display: none">
                                </tr>
                            </div>

                        </tbody>

                    </table>
                    <div class="container-fluid" style="margin-bottom: 15px">
                        {#                        <a href="{% url 'export_analytics' object.slug %}" class="btn btn-success">Экспорт в Excel</a>#}
                        <button type="submit" class="btn btn-success">Экспорт в Excel</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function searchFunc() {

            input = document.getElementById("search");
            filter = input.value.toUpperCase();

            materials_list = document.getElementById('materials_list');
            tr = materials_list.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }

            }
        }

    </script>
{% endblock %}

