{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <br>
                <div class="row">
                    <div class="col-8">
                        {#                        <a href="/construction_objects/{{ construction_object.slug }}/analytics" class="btn btn-light"><i#}
                        {#                            class="ik ik-arrow-left"></i>Назад</a>#}
                        <h2>Ход движении</h2>
                        <p>Объект: {{ construction_object.name }}</p>

                    </div>
                    <div class="col-4 inline-group">
                        {#                        <a href="{% url 'total_stats' object.slug %}" class="btn btn-primary">Общая статистика</a>#}
                        {#                        <a href="{% url 'release_mat_stats' object.slug %}" class="btn btn-success" style="margin: 5px">Ход#}
                        {#                            движении</a>#}
                    </div>
                </div>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <div style="margin: 20px">
                        <div>
                            <form method="get" style="">
                                {#                                {{ filter.form.as_p }}#}
                                <div class="row">

                                    {% for field in filter.form %}
                                        <div class="col-sm-4">
                                            <label for="{{ field.id }}">{{ field.label_tag }}</label> {{ field }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <br>
                                <input type="submit" value="Фильтр" class="btn btn-primary">
                                <a href="{% url 'released_material_stats' construction_object.slug %}"
                                   class="btn btn-danger">Сброс</a>
                            </form>

                        </div>
                        {#                        <br>#}
                        {#                        <div class="" style="display: inline-flex">#}
                        {#                            <input type="search" id="search" class="form-control" placeholder="Поиск"#}
                        {#                                   style="border-radius: 0; width: 230px" onkeyup="searchFunc()">#}
                        {#                            <button class="btn-lg btn-success" style="border-radius: 0"><i class="ik ik-search"></i>#}
                        {#                            </button>#}
                        {#                        </div>#}

                    </div>
                    <form action="{% url 'export_release_mat_stats' %}" method="post">
                        {% csrf_token %}
                        <table class="table" style="font-size:15px">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Дата</th>
                                <th>Название</th>
                                <th>Работа</th>
                                <th>Количество (Общее)</th>
                                <th>Количество (Были)</th>
                                <th>Отпущено</th>
                                <th>Возврат</th>
                                <th>Остаток</th>
                                <th>ед. изм.</th>
                                <th>Код инструмента</th>
                                {#                            <th>Цена</th>#}
                                {#                            <th>Сумма</th>#}
                            </tr>
                            </thead>
                            <tbody id="materials_list">
                            <input type="text" name="count_release_material" value="{{ filter.qs.count }}"
                                   style="display:none;">
                            {% for release_material in filter.qs %}
                                <input type="text" name="release_material{{ forloop.counter }}"
                                       value="{{ release_material.id }}" style="display: none">

                                <tr>
                                    <th>{{ release_material.unique_code }}</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for material in release_material.items.all %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{ release_material.release_date }}</td>
                                        <td>{{ material.material.name }}</td>
                                        <td>{{ release_material.contract }}</td>
                                        <td>{{ material.material.quantity }}</td>
                                        <td>{{ material.remainder_count }}</td>
                                        <td>{{ material.release_count }}</td>
                                        <td>{{ material.return_count }}</td>
                                        <td>{{ material.remainder_count|sub:material.release_count|add:material.return_count }}</td>
                                        <td>{{ material.material.units }}</td>
                                        <td>
                                            {% if material.material.instrument_code == None %}
                                                Нет
                                            {% else %}
                                                {{ material.material.instrument_code }}
                                            {% endif %}
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endfor %}


                            </tbody>
                        </table>
                        <div class="container-fluid" style="margin-bottom: 15px">
                            {#                        <a href="{% url 'export_analytics' object.slug %}" class="btn btn-success">Экспорт в Excel</a>#}
                            <input type="text" name="construction_object_id" value="{{ construction_object.id }}"
                                   style="display:none;">
                            <input type="text" name="start_date" value="{{ request.GET.start_date }}"
                                   style="display:none;">
                            <input type="text" name="end_date" value="{{ request.GET.end_date }}" style="display:none;">
                            <button type="submit" class="btn btn-success">Экспорт в Excel</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function searchFunc() {

            input = document.getElementById("search");
            filter = input.value.toUpperCase();

            materials_list = document.getElementById('materials_list');
            tr = materials_list.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }

            }
        }

    </script>
{% endblock %}

