{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9">
                        <h2>Общая статистика</h2>
                        <p>Объект: {{ construction_object.name }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="container-fluid">
                    <form method="get">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Дата от</label>
                                        <input type="date" class="form-control" name="start_date"
                                               value="{{ start_date_default|date:"Y-m-d" }}">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Дата до</label>

                                        <input type="date" class="form-control" name="end_date"
                                               value="{{ end_date_default|date:"Y-m-d" }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <input type="submit" value="Фильтр" class="btn btn-primary">
                        <a href="{% url 'total_stats' construction_object.slug %}" class="btn btn-danger">Сброс</a>
                    </form>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>Работы</h6>
                                        <h2 id="count">{{ contracts.count }}</h2>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-layers"></i>
                                    </div>
                                </div>
                                <br>
                                <h6>
                                    <div class="list-group">
                                        <div class="list-group-item">В работе: <span class="count">{{ in_work.count }}</span></div>
                                        <div class="list-group-item">Выполнено: {{ finished.count }}</div>
                                        <div class="list-group-item">Проверка: {{ not_finished.count }}</div>
                                        <div class="list-group-item">Невыполнено: {{ check.count }}</div>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>Заявки</h6>
                                        <h2>{{ request_mats.count }}</h2>
                                    </div>
                                    <div class="icon">
                                        <i class="ik ik-clipboard"></i>
                                    </div>
                                </div>
                                <br>
                                <h6>
                                    <div class="list-group">
                                        <div class="list-group-item">Отработанные заявки: {{ is_done_request_mat.count }}</div>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="state">
                                        <h6>Материалы</h6>
                                        <h2>{{ materials.count }}</h2>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-warehouse" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <br>
                                <div class="">
                                    <div class="state">
                                        <h6>Сумма</h6>
                                        <h2>{{ total_sum_price }}₸</h2>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-money-bill-alt" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock %}

