{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/construction_objects/{{ construction_object.slug }}/{{ contract.status }}"
                   class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <div class="row">
                    <div class="col-md-8">
                        <h2>{{ contract.name }}</h2>
                        <p>Подрядчик: {{ contract.contractor }}</p>
                        <p>
                            Номер договора: {{ contract.number_contract }}
                            <br>
                            БИН: {{ contract.bin }}
                            <br>
                            Дата договора: {{ contract.date_contract }}
                            <br>
                            Договор: <a href=
                                       {% if '.doc' in contract.contract_file.url %}
                                           "https://docs.google.com/gview?url=
                                                   {{ request.META.HTTP_HOST }}{{ contract.contract_file.url }}"
                                       {% else %}
                                           "{{ contract.contract_file.url }}"
                                       {% endif %} style="color: #4da3ff; " target="_blank">посмотреть


                            </a>
                        </p>
                        <p>
                            Статус: {{ contract.get_status_display }}
                        </p>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'request_for_material_add' contract.slug %}" class="btn btn-primary">Новая
                            заявка</a>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 ">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название заявки</th>
                            <th>Заявка</th>
                            <th>Создан</th>
                            <th>Изменен</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request_for_material in requests_for_materirals %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    {% if request.user.role == 'admin' or request.user.role == 'purchaser' %}
                                        <a href="{% url 'request_for_material_detail'  request_for_material.id %}"
                                           style="color: #4da3ff">{{ request_for_material.name }}</a>
                                    {% else %}
                                        {{ request_for_material.name }}
                                    {% endif %}
                                </td>
                                <td><a href=
                                       {% if '.doc' in request_for_material.doc_file.url %}
                                           "https://docs.google.com/gview?url=
                                                   {{ request.META.HTTP_HOST }}{{ request_for_material.doc_file.url }}"
                                       {% else %}
                                           "{{ request_for_material.doc_file.url }}"
                                       {% endif %} style="color: #4da3ff; " target="_blank">посмотреть


                            </a>
                                </td>
                                <td>{{ request_for_material.created_at }}</td>
                                <td>{{ request_for_material.updated_at }}</td>
                                <td>{% if request_for_material.is_done %}
                                    Заявка обработана
                                {% else %}
                                    <a href="{% url 'request_for_material_edit' request_for_material.id %}"
                                       class="btn btn-danger">Изменить</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}