{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <div class="row">
                    <div class="col-md-10"><h2>Работы</h2></div>
                    <div class="col-md-2">
                        <a type="button" href="{% url 'contract_add' object.slug %}" class="btn btn-primary">Добавить
                            работу</a>

                    </div>
                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Подрядчик</th>
                            <th>Номер договора</th>
                            <th>Договор</th>
                            <th>БИН</th>
                            <th>Дата договора</th>
                            <th>Статус работы</th>
                            <th>Создан</th>
                            <th>Изменен</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contract in contracts %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a href="{% url 'contract_detail' contract.slug %}"
                                       style="color: #4da3ff">{{ contract.name }}</a></td>
                                <td>{{ contract.contractor }}</td>
                                <td>{{ contract.number_contract }}</td>
                                <td><a href="{{ contract.contract.url }}" style="color: #4da3ff; " target="_blank">посмотреть</a>
                                <td>{{ contract.bin }}</td>
                                <td>{{ contract.date_contract }}</td>
                                <td>{{ contract.get_status_display }}</td>
                                <td>{{ contract.created_at }}</td>
                                <td>{{ contract.updated_at }}</td>
                                {#                                <td>#}
                                {#                                    <form action="{% url 'contract_delete' object.slug%}" method="post">#}
                                {#                                        {% csrf_token %}#}
                                {#                                        <input type="text" name="contract" value="{{ contract.id }}" style="display: none">#}
                                {#                                        <button class="btn btn-danger" type="submit">Удалить</button>#}
                                {#                                    </form>#}
                                {#                                </td>#}
                                <td>
                                    <a href="{% url 'contract_edit' contract.slug %}" class="btn btn-danger">
                                        Изменить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}