{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <div class="row">
                        <div class="col-md-10"><h3>Оплаченные материалы</h3></div>
                        {#                        <div class="col-md-2"><a type="button" href="{% url 'contract_add' object.slug %}" class="btn btn-primary">Добавить работу</a></div>#}
                    </div>


                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Работа</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>ед. изм.</th>
                                <th>Цена</th>
                                <th>Сумма</th>
                                <th>Статус</th>
                                <th>Создан</th>
                                <th>Изменен</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <form action="/objects/{{ object.slug }}/paid_materials" method="post">
                            {% csrf_token %}
                                {% for material in materials %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ material.contract }}</td>
                                        <td>{{ material.name }}</td>
                                        <td>{{ material.quantity }}</td>
                                        <td>{{ material.units }}</td>
                                        <td>{{ material.price }}</td>
                                        <td>{{ material.sum_price }}</td>
                                        <td>{{ material.status }}</td>
                                        <td>{{ material.created_at }}</td>
                                        <td>{{ material.updated_at }}</td>
                                        <td><input type="checkbox" name="materials" value="{{ material.id }}"></td>
                                    </tr>
                                {% endfor %}
                                <button type="submit" name="delivered" class="btn btn-primary">Доставлено</button>
                            </form>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}