{% extends 'appbase/base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Возврат материалов</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">

                    <form action="{% url 'detail_relesed_materials' release_mat.id %}"
                          onsubmit="return mySubmit({{ release_mat.items.count }});" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>название</th>
                                <th>общ кол</th>
                                <th>ед изм</th>
                                <th>код инструмента</th>
                                <th>остаток</th>
                                <th>ушли</th>
                                <th>возврат</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% csrf_token %}
                            <input type="text" name="count" value="{{ release_mat.items.count }}" style="display: none">
                            {% for material in release_mat.items.all %}
                                <input type="text" style="display: none" name="material{{ forloop.counter }}"
                                       value="{{ material.material.id }}">
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ material.material.name }}</td>
                                    <td>{{ material.material.quantity }}</td>
                                    <td>{{ material.material.units }}</td>
                                    <td>
                                        {% if material.material.instrument_code == None %}
                                            Нет
                                        {% else %}
                                            {{ material.material.instrument_code }}
                                        {% endif %}
                                    </td>
                                    <td>{{ material.material.quantity|sub:material.material.release_count }}</td>
                                    <td><input type="text" id="release_mat{{ forloop.counter }}" class="form-control" name="release_mat{{ forloop.counter }}"
                                               value="{{ material.material.release_count }}"
                                               disabled></td>
                                    <td><input type="text" class="form-control" name="return_mat{{ forloop.counter }}"
                                               value="0" id="return_mat{{ forloop.counter }}"></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="row" style="margin-left: 20px">
                            {#                        <div class="col-md-4">#}
                            {#                            <div class="form-group">#}
                            {##}
                            {#                                        <textarea name="comment" class="form-control" rows="5"#}
                            {#                                                  placeholder="Примечение"></textarea>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            {#                        <div class="col-md-8">#}
                            <div class="form-group">
                                <button class="btn btn-primary">Возврат</button>
                            </div>
                            {#                        </div>#}
                        </div>

                        {#                        </form>#}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function mySubmit(n) {
            var i;
            {#console.log('asd');#}
            for (i = 1; i <= parseInt(n); i++) {
                var return_mat = document.getElementById('return_mat' + i);
                var release_mat = document.getElementById('release_mat' + i);
                if (parseInt(return_mat.value) > parseInt(release_mat.value)) {
                    return false;
                }
                if (return_mat.value === '') {
                    return false;
                }
            }
            return true;
        }
    </script>
{% endblock %}