{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="javascript:history.go(-1)" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <br>
                <br>
                <div class="row">

                    <div class="col-md-10">
                        <h2>Материалы</h2>
                        <p>Работа: {{ materials.first.invoice.request_mat.contract }}</p>
                    </div>
                    {#                        <div class="col-md-2"><a type="button" href="{% url 'contract_add' object.slug %}" class="btn btn-primary">Добавить работу</a></div>#}
                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Ушли</th>
                            <th>Осталось</th>
                            <th>ед. изм.</th>
                            <th>Код инструмента</th>
                            <th>
                                <input type="checkbox">
                            </th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for material in materials %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ material.name }}</td>
                                <td>{{ material.quantity }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ material.units }}</td>
                                <td>
                                    {% if material.instrument_code == None %}
                                        Нет
                                    {% else %}
                                        {{ material.instrument_code }}
                                    {% endif %}
                                </td>
                                <td><input type="checkbox" name="materials" value="{{ material.id }}"></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}