{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">

            {% if released_material.items.all.first.material.instrument_code == None %}
                <a href="/contract/{{ released_material.contract.slug }}/released_materials" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
            {% else %}
                <a href="/construction_objects/{{ object.slug }}/released_instruments" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
            {% endif %}
                <div class="row">
                    <div class="col-md-10">
                        <h2>Отпущенные материалы №{{ released_material.unique_code }}</h2>
{#                        <p>Накладная отпуск (с подписью): </p>#}
{#                        <p>{% if released_material.release_waybill %}#}
{#                            <a href="{{ released_material.release_waybill.url }}" style="color: #4da3ff" download>скачать</a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'add_release_waybill' released_material.id %}"#}
{#                               class="btn btn-primary">Загрузить</a>{% endif %}</p>#}

{#                        <p>Накладная возврат (с подписью): </p>#}
{#                        <p>#}
{#                            {% if released_material.final_waybill %}#}
{#                                <a href="{{ released_material.final_waybill.url }}" style="color: #4da3ff"#}
{#                                   download>скачать</a>{% else %}#}
{#                                <a href="{% url 'add_final_waybill' released_material.id %}"#}
{#                                   class="btn btn-primary">Загрузить</a>{% endif %}#}
{#                        </p>#}

                    </div>
                </div>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>название</th>
                            <th>общ кол</th>
                            <th>ед изм</th>
                            <th>код инструмента</th>
                            <th>ушли</th>
                            <th>возврат</th>


                        </tr>
                        </thead>
                        <tbody>

                        {% for material in released_material.items.all %}
                            <input type="text" style="display: none" name="material{{ forloop.counter }}"
                                   value="{{ material.material.id }}">
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ material.material.name }}</td>
                                <td>{{ material.material.quantity }}</td>
                                <td>{{ material.material.units }}</td>
                                <td>
                                    {% if material.material.instrument_code == None %}
                                        Нет
                                    {% else %}
                                        {{ material.material.instrument_code }}
                                    {% endif %}
                                </td>


                                <td>{{ material.release_count }}</td>
                                <td>{% if released_material.is_done %}{{ material.return_count }}  {% else %}
                                    -{% endif %}</td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>


            </div>

        </div>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function mySubmit(n) {
            var i;
            {#console.log('asd');#}
            for (i = 1; i <= parseInt(n); i++) {
                var return_mat = document.getElementById('return_mat' + i);
                var release_mat = document.getElementById('release_mat' + i);
                if (parseInt(return_mat.value) > parseInt(release_mat.value)) {
                    return false;
                }
                if (return_mat.value === '') {
                    return false;
                }
            }
            return true;
        }
    </script>
{% endblock %}