{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/construction_objects/{{ construction_object.slug }}/contract/materials" class="btn btn-light">
                    <i class="ik ik-arrow-left"></i>
                    Назад
                </a>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Остаток</h2>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'invoice_for_payment_detail' invoice.id %}" class="btn btn-primary">Материалы</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'add_material' invoice.id %}"
                                                           class="btn btn-success">Загрузить
                                                            материалы</a>
                    </div>
                    {% for material in materials %}
                        {% if material.release_material_items.all %}
                            <div class="col-md-2"><a type="button"
                                                     href="{% url 'remainder_released_materials'  construction_object.slug %}"
                                                     class="btn btn-primary">Отпущенные материалы</a></div>
                               {{ "<!--" }}


                        {% endif %}


                    {% endfor %}
                {{ "-->" }}

                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <div style="margin: 10px" class="col-md-6">
                        <div class="" style="display: inline-flex">
                            <input type="search" id="search" class="form-control" placeholder="Поиск"
                                   style="border-radius: 0" onkeyup="searchFunc()">
                            <button class="btn-lg btn-success" style="border-radius: 0"><i class="ik ik-search"></i>
                            </button>
                        </div>
                    </div>


                    <form action="/construction_objects/{{ construction_object.slug }}/remainder_materials"
                          method="post" oninput="myFormInput({{ materials.count }});">
                        {% csrf_token %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Количество</th>
                                <th>Ушли</th>
                                <th>Остаток</th>
                                <th>ед. изм.</th>
                                <th>Код инструмента</th>
                                <th>
                                    <input type="checkbox" oninput="checkAll({{ materials.count }});">
                                </th>
                            </tr>
                            </thead>
                            <tbody id="materials_list">

                            <div>
                                {% for material in materials %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ material.name }}</td>
                                        <td>{{ material.quantity }}</td>
                                        <td>{{ material.release_count }}</td>
                                        <td>{{ material.quantity|sub:material.release_count }}</td>
                                        <td>{{ material.units }}</td>
                                        <td>
                                            {% if material.instrument_code == None %}
                                                Нет
                                            {% else %}
                                                {{ material.instrument_code }}
                                            {% endif %}
                                        </td>
                                        <td>{% if material.quantity|sub:material.release_count > 0 %}
                                            <input type="checkbox" name="materials" value="{{ material.id }}"
                                                   id="material_checkbox{{ forloop.counter }}">{% endif %}</td>
                                    </tr>


                                {% endfor %}
                            </div>
                            </tbody>
                        </table>
                        <br>
                        <div style="display: none" id="action_div">
                            <div class="row">

                                <div style="margin: 10px 0 10px 10px" class="col-md-12">
                                    <input type="checkbox" class="form-radio" style="height: 18px; width: 18px;"
                                           oninput="funcSubmit();" id="myCheckbox">
                                    <label for="myCheckbox"><h3>Отпустить</h3></label>
                                    <div style="display:none " id="submit_release">
                                        <h3>ФИО: <span style="text-decoration: underline">{{ request.user }}</span>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua.</p>
                                        <button type="submit" name="submit" class="btn btn-primary"
                                                value="delivered">
                                            Подтвердить
                                        </button>
                                    </div>

                                </div>
                                {#                                <div style="margin: 10px 0 10px 10px" class="col-md-3">#}
                                {#                                    <button type="submit" name="submit" class="btn btn-danger" value="marriage">#}
                                {#                                        Брак#}
                                {#                                    </button>#}
                                {#                                </div>#}
                                {#                                <div style="margin: 10px 0 10px 10px" class="col-md-3">#}
                                {##}
                                {#                                    <button type="submit" name="submit" class="btn btn-success" value="return">#}
                                {#                                        Возврат#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function myFormInput(n) {
            var action_div = document.getElementById('action_div');
            for (i = 1; i <= n; i++) {
                var mat_checbox = document.getElementById('material_checkbox' + i);
                console.log(mat_checbox.checked)
                if (mat_checbox.checked === true) {
                    action_div.style.display = 'block';
                    return;
                } else {
                    action_div.style.display = 'none';
                }
            }

        }

        function checkAll(n) {
            for (i = 1; i <= n; i++) {
                var mat_checbox = document.getElementById('material_checkbox' + i);
                if (mat_checbox.checked === true) {
                    mat_checbox.checked = false;

                } else {
                    mat_checbox.checked = true;
                }
            }
        }

        function funcSubmit() {
            var my_checkbox = document.getElementById('myCheckbox');
            var submit_release = document.getElementById('submit_release');
            {#submit_delivery.style.display = 'block';#}
            if (my_checkbox.checked === true) {
                submit_release.style.display = 'block';
            } else {
                submit_release.style.display = 'none';
            }


        }


    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        function searchFunc() {

            input = document.getElementById("search");
            filter = input.value.toUpperCase();

            materials_list = document.getElementById('materials_list');
            tr = materials_list.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }

            }
        }


    </script>
{% endblock %}