{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/contract/{{ relesed_materials.all.first.contract.slug }}/materials" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <br>
                <br>
                <div class="row">

                    <div class="col-md-9">
                        <h2>Отпущенные материалы</h2>
                        {#                        <p>Работа: {{ materials.first.invoice.request_mat.contract }}</p>#}
                    </div>

                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Когда отпустил?</th>
                            <th>Возврат</th>
                            <th>Накладная отпуск</th>
                            <th>Накладная возрат</th>
                            <th>Накладная отпуск (загрузка)</th>
                            <th>Накладная возрат (загрузка)</th>
                            {#                                <th>Осталось</th>#}
                            {#                                <th>ед. изм.</th>#}
                            {#                                <th>Код инструмента</th>#}
                        </tr>
                        </thead>
                        <tbody>

                        {% for released_material in relesed_materials %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>

                                <td><a href="{% url 'detail_relesed_materials' released_material.id %}"
                                       style="color: #4da3ff">Отпущенные
                                    материалы {{ released_material.unique_code }}</a></td>
                                <td>{{ released_material.release_date }}</td>
                                <td>{% if released_material.is_done == False and released_material.release_waybill %}
                                    <a href="{% url 'return_relesed_materials' released_material.id %}"
                                       style="color: #4da3ff">Возврат</a>{% endif %}</td>
                                <td>
                                    <a href="/media/waybill/nakladnaya-{{ released_material.contract.name }}{{ released_material.id }}.docx"
                                       style="color: #4da3ff" download>Скачать</a>
                                </td>
                                <td>{% if released_material.is_done %}<a href="/media/waybill/nakladnaya_final-{{ released_material.contract.name }}{{ released_material.id }}.docx"
                                                                         style="color: #4da3ff"
                                                                         download>Скачать</a>{% endif %}</td>
                                {#                                    <td>{{ material.release_count }}</td>#}
                                {#                                    <td>{{ material.quantity|sub:material.release_count }}</td>#}
                                {#                                    <td>{{ material.units }}</td>#}
                                <td>{% if released_material.release_waybill %}
                                    <a href="{{ released_material.release_waybill.url }}" style="color: #4da3ff"
                                       download>скачать</a>
                                {% else %}
                                    <a href="{% url 'add_release_waybill' released_material.id %}"
                                       class="btn btn-primary">Загрузить</a>{% endif %}
                                </td>
                                <td>
                                {% if released_material.is_done and released_material.release_waybill %}
                                    {% if released_material.final_waybill %}
                                        <a href="{{ released_material.final_waybill.url }}" style="color: #4da3ff"
                                           download>скачать</a>{% else %}
                                        <a href="{% url 'add_final_waybill' released_material.id %}"
                                           class="btn btn-primary">Загрузить</a>{% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {#    <script>#}
    {#        function myFormInput(n) {#}
    {#            var action_div = document.getElementById('action_div');#}
    {#            for (i = 1; i <= n; i++) {#}
    {#                var mat_checbox = document.getElementById('material_checkbox' + i);#}
    {#                console.log(mat_checbox.checked)#}
    {#                if (mat_checbox.checked === true) {#}
    {#                    action_div.style.display = 'block';#}
    {#                    return;#}
    {#                } else {#}
    {#                    action_div.style.display = 'none';#}
    {#                }#}
    {#            }#}
    {##}
    {#        }#}
    {##}
    {#        function checkAll(n) {#}
    {#            for (i = 1; i <= n; i++) {#}
    {#                var mat_checbox = document.getElementById('material_checkbox' + i);#}
    {#                if (mat_checbox.checked === true) {#}
    {#                    mat_checbox.checked = false;#}
    {##}
    {#                } else {#}
    {#                    mat_checbox.checked = true;#}
    {#                }#}
    {#            }#}
    {#        }#}
    {##}
    {#        function funcSubmit() {#}
    {#            var my_checkbox = document.getElementById('myCheckbox');#}
    {#            var submit_release = document.getElementById('submit_release');#}
    {#submit_delivery.style.display = 'block';#}
    {#            if (my_checkbox.checked === true) {#}
    {#                submit_release.style.display = 'block';#}
    {#            } else {#}
    {#                submit_release.style.display = 'none';#}
    {#            }#}
    {##}
    {#        }#}
    {#    </script>#}
{% endblock %}