{% extends 'appbase/../../base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">

                <div class="row">


                    <div class="col-md-10">
                        <h2>Отпуск материалов</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <form action="{% url 'release_materials' %}"
                          onsubmit="return mySubmit({{ materials.count }});" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>название</th>
                                <th>отпуск.</th>
                                <th>остаток</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% csrf_token %}
                            <input type="text" name="count" value="{{ materials.count }}" style="display: none">
                            {% for material in materials %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ material.name }}</td>
                                    <input type="text" style="display: none" name="material{{ forloop.counter }}"
                                           value="{{ material.id }}">
                                    <td><input type="text" class="form-control" name="release{{ forloop.counter }}"
                                               value="0" id="release{{ forloop.counter }}"></td>
                                    <td><input type="text" class="form-control" id="quantity{{ forloop.counter }}"
                                               value="{{ material.quantity|sub:material.release_count }}" disabled></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="row" style="margin-left: 20px">
                            <div class="col-md-4">
                                <div class="form-group">

                                        <textarea name="comment" class="form-control" rows="5"
                                                  placeholder="Примечение"></textarea>
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <button class="btn btn-primary">Подтвердить</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        function mySubmit(n) {

            var i;
            window.location.href = '/contract/{{ materials.first.invoice.request_mat.contract.slug }}/materials';
            for (i = 1; i <= parseInt(n); i++) {
                var release_count = document.getElementById('release' + i);
                var quantity = document.getElementById('quantity' + i);
                console.log(release_count);
                if (parseInt(release_count.value) > parseInt(quantity.value)) {
                    console.log(release_count.value, quantity.value);
                    return false;
                }
                if (release_count.value === '') {
                    return false;
                }
            }

            return true;
        }



    </script>
{% endblock %}