<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body style="background-color: #272d36">
{#{% for object in object_list %}#}
{#    <a href="{% url 'object_detail' object.slug %}">{{ object.name }}</a>#}
{#{% endfor %}#}
<style>
    a:hover {
        color: #272d36;
    }
</style>
<br>
{% for object in request.user.construction_objects.all %}
    {#    <div></div>#}


    <div style="height: 700px; overflow: hidden; text-align: center; display: block; position: relative">
        {#    <a href="{% url 'object_detail' slug=object.slug pk=1 %}">{{ object.name }}</a>#}

        <a href="{% url 'construction_object_detail' slug=object.slug pk=1 %}">
            <h1 style="font: 100px 'Nunito Sans', sans-serif;  text-transform: uppercase;position:absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(192,192,192,0.7); border-radius: 15px; padding: 50px">{{ object.name }}</h1>
        </a>

        <img src="{{ object.image.url }}" height="1000px" style="
                z-index: -5000;
                position: relative;
                left: 50%;
                top: 50%;
                height: auto;
                width: 100vw;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);">

    </div>
    <br>
{% endfor %}


</body>
</html>