{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="{% url 'contract_detail' requestformaterial.contract.slug %}"
                   class="btn btn-light"><i class="ik ik-arrow-left"></i>Назад</a>
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{ requestformaterial.name }}</h2>
                        <p>Заявка:
                            <a href=
                                       {% if '.doc' in requestformaterial.doc_file.url %}
                                           "https://docs.google.com/gview?url={{ request.META.HTTP_HOST }}{{ requestformaterial.doc_file.url }}"
                                       {% else %}
                                           "{{ requestformaterial.doc_file.url }}"
                                       {% endif %} style="color: #4da3ff; " target="_blank">посмотреть
                            </a>
                        </p>
                    </div>
                    <div class="col-md-2">
                        {% if request.user.role == 'admin' or request.user.role == 'purchaser' %}
                            {% if requestformaterial.is_done == False %}
                                {% if requestformaterial.contract.status == '1' %}
                                    <a href="{% url 'invoice_for_payment_create' requestformaterial.id %}"
                                       class="btn btn-primary">Новый
                                        счет</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body p-0 ">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название компании</th>
                            <th>БИН компании</th>
                            <th>Счет на оплату</th>
                            <th>Статус</th>
                            <th>Оплачено?</th>
                            <th>Создан</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in requestformaterial.invoice_for_payment.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ invoice.name_company }}</td>
                                <td>{{ invoice.bin }}</td>
                                <td><a href="{{ invoice.doc_file.url }}" style="color: #4da3ff"
                                       target="_blank ">{{ invoice.doc_file }}</a></td>
                                <td>{{ invoice.status }}</td>
                                <td>{% if invoice.is_paid %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                                </td>
                                <td>{{ invoice.created_at }}</td>
                                {% if invoice.is_done %}
                                    <td>Счет обработан</td>
                                {% else %}
                                    {% if request.user.role == 'admin' or request.user.role == 'purchaser' %}
                                        {% if requestformaterial.contract.status == '1' %}
                                            {% if invoice.status == 'да' and invoice.is_paid %}
                                                {% if invoice.material.all %}
                                                    <td>
                                                        <a href="{% url 'invoice_for_payment_detail' invoice.id %}"
                                                           class="btn btn-success">Материалы</a>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <a href="{% url 'add_material' invoice.id %}"
                                                           class="btn btn-success">Загрузить
                                                            материалы</a>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                            {% if invoice.is_cash == False %}
                                                {% if invoice.is_paid == False %}
                                                    <td>
                                                        <form action="{% url 'send_telegram' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="text" name="id" value="{{ invoice.id }}"
                                                                   style="display: none">
                                                            <button type="submit" class="btn btn-primary">Отправить в
                                                                телеграм
                                                            </button>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'invoice_for_payment_update' invoice.id %}"
                                                           class="btn btn-success">Изменить</a>
                                                    </td>
                                                    <td>
                                                        <form action="{% url 'invoice_for_payment_delete' %} "
                                                              method="post">
                                                            {% csrf_token %}
                                                            <input type="text" name="id" value="{{ invoice.id }}"
                                                                   style="display: none">
                                                            <button class="btn btn-danger" type="submit">Удалить
                                                            </button>
                                                        </form>
                                                    </td>
                                                {% endif %}

                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}