{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/construction_objects/{{ construction_object.slug }}/instruments" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <br>
                <br>
                <div class="row">

                    <div class="col-md-9">
                        <h2>Акт списания инструментов</h2>
                        {#                        <p>Работа: {{ paid_material_app.first.invoice.request_mat.contract }}</p>#}
                    </div>

                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Дата</th>
                            <th>Акт списание (Шаблон)</th>
                            <th>Акт списание</th>

                            <th>Название материала</th>
                            <th>Код инструмента</th>
                            <th>Срок службы</th>
                            <th>ед. из.</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Сумма</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for writeoff_instrument in object_list %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ writeoff_instrument }}</td>
                                <td>{{ writeoff_instrument.created_at }}</td>
                                <td>
                                    <a href="/media/acts_writeoff/act_writeoff_instruments-{{ writeoff_instrument.id }}.docx"
                                       style="color: #4da3ff" download>Скачать</a></td>
                                <td>
                                    {% if writeoff_instrument.act_document %}
                                        <a href="{{ writeoff_instrument.act_document.url }}" style="color: #4da3ff">скачать</a>
                                    {% else %}
                                        <a href="{% url 'upload_act_document' writeoff_instrument.id %}" class="btn btn-primary">Загрузить</a>
                                    {% endif %}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for writeoff_instrument_item in writeoff_instrument.writeoff_instrument_item.all %}
                                <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ writeoff_instrument_item.material.name }}</td>
                                    <td>{{ writeoff_instrument_item.material.instrument_code }}</td>
                                    <td>{{ writeoff_instrument_item.life_time }}</td>
                                    <td>{{ writeoff_instrument_item.material.units }}</td>
                                    <td>{{ writeoff_instrument_item.writeoff_count }}</td>
                                    <td>    {{ writeoff_instrument_item.material.price }}</td>
                                    <td>{{ writeoff_instrument_item.writeoff_sum_price }}</td>
                                </tr>
                            {% endfor %}
                            {#                            <tr>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            <td></td>#}
                            {#                            </tr>#}
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}