{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                {#                <a href="/construction_objects/{{ construction_object.slug }}/instruments" class="btn btn-light"><i#}
                {#                        class="ik ik-arrow-left"></i>Назад</a>#}
                <br>
                <br>
                <div class="row">

                    <div class="col-md-9">
                        <h2>Акт списание инструментов</h2>
                    </div>

                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <form action="{% url 'writeoff_instruments' %}" method="post"
                          onsubmit="return writeoffSubmit({{ materials.count }});">
                        {% csrf_token %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Инстурмент</th>
                                <th>Код инструмента</th>
                                <th>Количество в складе</th>
                                <th>Списать</th>
                            </tr>
                            </thead>
                            <tbody>
                            <input type="text" name="count" value="{{ materials.count }}" style="display: none">
                            {% for material in materials %}
                                <tr>
                                    <input type="text" style="display: none" name="material{{ forloop.counter }}"
                                           value="{{ material.id }}">
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ material.name }}</td>
                                    <td>{{ material.instrument_code }}</td>
                                    <td><input type="text" id="material_remainder_count{{ forloop.counter }}" value="{{ material.remainder_count }}"  class="form-control w-50 " disabled></td>
                                    <td>
                                        <input type="text" class="form-control w-50" id="writeoff_count{{ forloop.counter }}"
                                               name="writeoff_count{{ forloop.counter }}"  value="0">
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="form-group" style="margin-left: 15px">
                            <button class="btn btn-primary" type="submit">Подтвердить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function writeoffSubmit(n) {
            var i;
            {#window.location.href = '/construction_objects/{{ construction_object.slug }}/instruments';#}
            for (i = 1; i <= parseInt(n); i++) {
                var writeoff_count = document.getElementById('writeoff_count' + i);
                var material_remainder_count = document.getElementById('material_remainder_count' + i);


                if (parseInt(writeoff_count.value) > parseInt(material_remainder_count.value)) {
                    return false;
                }
                if (writeoff_count.value === '') {

                    return false;
                }
            }

            return true;
        }

    </script>
{% endblock %}