{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/construction_objects/{{ construction_object.slug }}/paid_materials" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <div class="row">
                    <div class="col-md-10">
                        <h2>Оплаченные материалы</h2>
                        <p>Работа: {{ invoice.request_mat.contract.name }}</p>
                        <p>Название компании: {{ invoice.name_company }}</p>
                        <p>БИН: {{ invoice.bin }}</p>
                        <p>Счет на оплату: <a href="{{ invoice.doc_file.url }}" target="_blank" style="color: #4da3ff">посмотреть</a>
                        </p>
                    </div>
                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                {% if invoice.is_done %}
                    <h1 class="text-center">
                        Счет отработан!
                    </h1>
                {% else %}
                    <div class="table-responsive">
                        <form action="{% url 'invoice_materials' invoice.id %}" method="post"
                              oninput="myFormInput({{ materials.count }});"
                              id="myform">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>


                                    <th style="width: 15px">брак</th>
                                    <th style="width: 15px">нех.</th>
                                    <th style="width: 15px">нес.</th>
                                    <th style="width: 15px">ок</th>
                                    <th>Количество</th>
                                    <th>ед. изм.</th>
                                    <th>Цена</th>
                                    <th>Код инструмента</th>
                                    <th>Статус</th>
                                    <th>Доставлен?</th>
                                    <th><input type="checkbox" id="checked_all"
                                               oninput="checkAll({{ materials.count }});"></th>
                                    {#                                    <th>Изменен</th>#}
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% csrf_token %}
                                {% for material in materials %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ material.name }}</td>

                                        <td>{{ material.marriage }}</td>
                                        <td>{{ material.shortage }}</td>
                                        <td>{{ material.inconsistency }}</td>
                                        <td>{{ material.ok }}</td>

                                        <td>{{ material.quantity }}</td>
                                        <td>{{ material.units }}</td>
                                        <td>{{ material.price }}</td>
                                        <td>{% if material.instrument_code != None %}
                                            {{ material.instrument_code }}
                                        {% else %}
                                            Нет
                                        {% endif %}
                                        </td>
                                        <td>{{ material.status }}</td>
                                        <td>{% if material.is_delivery %}
                                            Да
                                        {% else %}
                                            Нет
                                        {% endif %}
                                        </td>
                                        {#                                        <td>{{ material.created_at }}</td>#}
                                        {#                                        <td>{{ material.updated_at }}</td>#}
                                        <td><input type="checkbox" name="materials" value="{{ material.id }}"
                                                   id="material_checkbox{{ forloop.counter }}"></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <br>
                            <div style="display: none" id="action_div">
                                <div class="row">
                                    <div style="margin: 10px 0 10px 10px" class="col-md-5">

                                        <input type="checkbox" class="form-radio" style="height: 18px; width: 18px;"
                                               oninput="funcSubmit();" id="myCheckbox">
                                        <label for="myCheckbox"><h3>Подписать/Принять</h3></label>
                                        <div style="display:none " id="submit_delivery">
                                            <h3>ФИО: <span style="text-decoration: underline">{{ request.user }}</span>
                                            </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <button type="submit" name="submit" class="btn btn-primary"
                                                    value="delivered">
                                                Доставлено
                                            </button>
                                        </div>

                                    </div>
                                    <div style="margin: 10px 0 10px 10px" class="col-md-3">
                                        <button type="submit" name="submit" class="btn btn-danger" value="marriage">
                                            Брак
                                        </button>
                                    </div>
                                    <div style="margin: 10px 0 10px 10px" class="col-md-3">

                                        <button type="submit" name="submit" class="btn btn-success" value="return">
                                            Возврат
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function funcSubmit() {
            var my_checkbox = document.getElementById('myCheckbox');
            var submit_delivery = document.getElementById('submit_delivery');
            {#submit_delivery.style.display = 'block';#}
            if (my_checkbox.checked === true) {
                submit_delivery.style.display = 'block';
            } else {
                submit_delivery.style.display = 'none';
            }

        }

        function myFormInput(n) {
            var action_div = document.getElementById('action_div');
            for (i = 1; i <= n; i++) {
                var mat_checbox = document.getElementById('material_checkbox' + i);
                console.log(mat_checbox.checked)
                if (mat_checbox.checked === true) {
                    action_div.style.display = 'block';
                    return;
                } else {
                    action_div.style.display = 'none';
                }
            }

        }

        function checkAll(n) {
            for (i = 1; i <= n; i++) {
                var mat_checbox = document.getElementById('material_checkbox' + i);
                console.log(mat_checbox.checked)
                if (mat_checbox.checked === true) {
                    mat_checbox.checked = false;

                } else {
                    mat_checbox.checked = true;
                }
            }
        }
    </script>
{% endblock %}