{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>{{ request_mat.name }}</h3>
{#                            <p>{{ contract.contractor }}</p>#}
                            <a href="{{ request_mat.file.url }}" download>{{ request_mat.file }}</a>
                        </div>
                        <div class="col-md-2">
                            <a href="" class="btn btn-primary">Новый счет</a>
                        </div>
                    </div>

                </div>
                <div class="card-body p-0 ">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Файл</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in contract.request.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ request.name }}</td>
                                    <td>{{ request.file }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}