{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/request_for_material/detail/{{ request_for_material.id }}" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <h2>Добавить счет на оплату</h2></div>

            <div class="card-body">
                <form class="forms-sample" action="{% url 'invoice_add' request_for_material.id %}" method="post"
                      enctype="multipart/form-data">
                    <input type="text" name="request_for_material_id" value="{{ request_for_material.id }}" style="display: none">
                    <div class="form-group">
                        <label>БИН поставщика</label>
                        <input type="text" name="bin_invoice" class="form-control" placeholder="БИН" required>
                    </div>
                    <div class="form-group">
                        <label>Название поставщика</label>
                        <input type="text" name="name_invoice" class="form-control" placeholder="Название компании" required>

                    </div>
                    <div class="form-group">
                        <label>Примечение (макс. длина 1000 символов)</label>
                        <textarea name="comment" maxlength="1000" cols="5" rows="5" class="form-control"
                                  placeholder="Примечение"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="is_cash">
                        <label>Наличный?</label>
                    </div>
                    <div class="form-group">
                        <label>Счет</label>
                        <input type="file" name="doc_file_invoice" class="form-control" required>
                    </div>

                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                    {#                        <button class="btn btn-light">Cancel</button>#}

                </form>
            </div>
        </div>
    </div>

{% endblock %}