{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>


    </style>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/request_for_material/detail/{{ invoice.request_for_material.id }}" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <h2>Добавить материалы</h2>
            </div>


            <div class="card-body">

                <form class="forms-sample" action="{% url 'add_material' invoice.id %}" method="post"
                      enctype="multipart/form-data">

                    <input type="text" name="id" value="{{ invoice.id }}" style="display: none">

                    <div class="form-group">
                        <label>Материалы</label>
                        <input type="file" name="doc_file" class="form-control" style="height: 200px;" required>
                        <div style="position: absolute; margin-top: -200px;pointer-events: none">
                            <p style="margin-top: 50px; width: 300px; margin-left: 10px; ">Перетащите сюда файл, чтобы
                                прикрепить их</p>
                        </div>


                    </div>

                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                    {#                        <button class="btn btn-light">Cancel</button>#}

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function readUrl(input) {

            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    let imgData = e.target.result;
                    let imgName = input.files[0].name;
                    input.setAttribute("data-title", imgName);
                    console.log(e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

        }
    </script>
{% endblock %}