{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="{% url 'request_for_material_detail' invoice.request_for_material.id %}"
                   class="btn btn-light"><i class="ik ik-arrow-left"></i>Назад</a>
                <div class="row">
                    <div class="col-md-10">
                        <h2>Название компании: {{ invoice.name_company }}</h2>
                        <p>БИН: {{ invoice.bin }}</p>
                        <p>Файл: <a href="{{ invoice.doc_file.url }}" target="_blank"
                                    style="color: #4da3ff">{{ invoice.doc_file }}</p>
                        </a>
                    </div>
                    <div class="col-md-2">
                        {% if invoice.is_done == False %}
                            <a href="{% url 'material_add' invoice.id %}" class="btn btn-primary">Добавить материал</a>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="card-body p-0 ">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>ед. изм.</th>
                            <th>Цена</th>
                            <th>Сумма</th>
                            <th>Код инструмента</th>
                            <th></th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for material in materials %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ material.name }}</td>
                                <td>{{ material.quantity }}</td>
                                <td>{{ material.units }}</td>
                                <td>{{ material.price }}</td>
                                <td>{{ material.sum_price }}</td>
                                <td>{% if material.is_instrument %}
                                    {{ material.instrument_code }}
                                {% else %}
                                    Нет
                                {% endif %}
                                </td>
                                <td><a href="{% url 'material_edit' material.id %}" class="btn btn-primary">
                                    Изменить
                                </a>
                                </td>
                                <td>
                                    <form action="{% url 'material_delete' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="material_id" value="{{ material.id }}"
                                               style="display: none">
                                        <input type="submit" value="Удалить" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}