{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <a href="/request/detail/{{ request_mat.id }}" class="btn btn-light"><i
                        class="ik ik-arrow-left"></i>Назад</a>
                <h2>Изменить счет</h2></div>
            {#                {{ invoice.id }}#}
            <div class="card-body">
                <form class="forms-sample" action="{% url 'invoice_edit' invoice.id %}" method="post"
                      enctype="multipart/form-data">

                    <input type="text" name="id" value="{{ invoice.id }}" style="display: none">
                    {#                        <div class="form-group">#}
                    {#                            <label for="name">Название</label>#}
                    {#                            <input type="text" class="form-control" id="name" placeholder="Название" name="name" value="{{ request_mat.name }}">#}
                    {#                        </div>#}
                    <div class="form-group">
                        <label>БИН</label>
                        <input type="text" name="bin" class="form-control" placeholder="БИН" value="{{ invoice.bin }}" required>
                    </div>
                    <div class="form-group">
                        <label>Название компании</label>
                        <input type="text" name="name" class="form-control" placeholder="Название компании" value="{{ invoice.name_company }}" required>

                    </div>
                    <div class="form-group">
                        <label>Примечение (макс. длина 1000 символов)</label>
                        <textarea name="comment" maxlength="1000" cols="5" rows="5" class="form-control"
                                  placeholder="Примечение">{{ invoice.comment }}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="is_cash" {% if invoice.is_cash %}checked{% endif %}>
                        <label>Наличный?</label>
                    </div>
                    <div class="form-group">
                        <label>Счет</label>
                        <br>
                        На данный момент: <a href="{{ invoice.file.url }}" download>{{ invoice.file }}</a>
                        <br>
                        Изменить:
                        <input type="file" name="file" class="form-control">
                    </div>


                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                    {#                        <button class="btn btn-light">Cancel</button>#}

                </form>
                <br>
                <form action="{% url 'invoice_delete' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" value="{{ invoice.id }}" style="display: none">
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}