{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">

                    <div class="row">
                        <div class="col-md-10"><h2>Оплаченные материалы</h2></div>
                    </div>


                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Названия компании</th>
                                    <th>БИН</th>
                                    <th>Работа</th>

                                </tr>
                                </thead>
                                <tbody>


                                {% for invoice in invoices %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><a href="{% url 'invoice_materials' invoice.id %}" style="color: #4da3ff;">{{ invoice.name_company }}</a></td>
                                        <td>{{ invoice.bin }}</td>
                                        <td>{{ invoice.request_for_material.contract.name }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                            </div>


                    </div>
                </div>
            </div>
        </div>

{% endblock %}