{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Бракованные материалы</h3>
                            <p>{{ error }}</p>
                        </div>
                    </div>


                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                        <form action="{% url 'marriage_materials' %}" method="post" id="form"
                              onsubmit="return mySubmit({{ materials.count }});">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>
                                    <th>брак</th>
                                    <th>нехватка</th>
                                    <th>несоответствие</th>
                                    <th>ок</th>
                                    <th>общий</th>
                                    {#                                                                        <th>Создан</th>#}
                                    {#                                                                        <th>Изменен</th>#}
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% csrf_token %}
                                <input type="text" name="count" value="{{ materials.count }}" style="display: none">
                                {% for material in materials %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ material.name }}</td>
                                        <input type="text" style="display: none" name="material{{ forloop.counter }}"
                                               value="{{ material.id }}">
                                        <td><input type="text" class="form-control" name="brak{{ forloop.counter }}"
                                                   value="{{ material.brak }}" id="brak{{ forloop.counter }}"
                                                   oninput="funcBrak({{ forloop.counter }})"></td>
                                        <td><input type="text" class="form-control" name="nexv{{ forloop.counter }}"
                                                   value="{{ material.nexvatka }}" id="nexv{{ forloop.counter }}"
                                                   oninput="funcBrak({{ forloop.counter }})"></td>
                                        <td><input type="text" class="form-control" name="neso{{ forloop.counter }}"
                                                   value="{{ material.nesotvetsvie }}" id="neso{{ forloop.counter }}"
                                                   oninput="funcBrak({{ forloop.counter }})"></td>
                                        <td><input type="text" class="form-control" name="ok{{ forloop.counter }}"
                                                   value="{{ material.ok }}" id="ok{{ forloop.counter }}"
                                                   oninput="funcBrak({{ forloop.counter }})"></td>

                                        <td><input type="text" class="form-control" id="quantity{{ forloop.counter }}"
                                                   value="{{ material.quantity }}" disabled></td>
                                        {#                                                                                <td>{{ material.created_at }}</td>#}
                                        {#                                                                                <td>{{ material.updated_at }}</td>#}
                                        {#                                                                                <td><input type="checkbox" name="materials" value="{{ material.id }}"></td>#}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                            <div class="row" style="margin-left: 20px">
                                <div class="col-md-4">
                                    <div class="form-group">

                                        <textarea name="comment" class="form-control" rows="5"
                                                  placeholder="Примечение"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="submit">Подтвердить</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}


{% endblock %}

{% block script %}
    <script>

        function funcBrak(id) {

            var brak = document.getElementById("brak" + id);
            var ok = document.getElementById("ok" + id);
            var nexv = document.getElementById("nexv" + id);
            var neso = document.getElementById("neso" + id);
            var quantity = document.getElementById("quantity" + id);

            var form = document.getElementById('form');

            var temp = parseInt(quantity.value) - parseInt(brak.value) - parseInt(neso.value) - parseInt(nexv.value);
            if (temp >= 0) {
                {#$('form').onsubmit(true);#}
                document.getElementById('submit').style.display = 'block';
                ok.value = temp;
            } else {
                ok.value = 'Ошибка';
                document.getElementById('submit').style.display = 'none';
            }

        }


        function mySubmit(n) {
            var i;
            for (i = 1; i <= parseInt(n); i++) {
                if (document.getElementById('ok' + n).value === 'Ошибка') {
                    return false;
                }
            }
            return true;

        }
    </script>
{% endblock %}