{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-block">
                <div class="row">
                    <div class="col-md-10"><h2>Работы</h2></div>
                    {% if request.user.role == 'admin' or request.user.role == 'purchaser' %}
                        <div class="col-md-2">
                            <a href="{% url 'contract_add' construction_object.slug %}" class="btn btn-primary">Добавить
                                работу</a>

                        </div>
                    {% endif %}
                </div>


            </div>
            <div class="card-body p-0 table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Название работы</th>
                            <th>Подрядчик</th>
                            <th>Номер договора</th>
                            <th>Договор</th>
                            <th>БИН</th>
                            <th>Дата договора</th>
                            <th>Статус работы</th>
                            <th>Создан</th>
                            <th>Изменен</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contract in contracts %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>
                                    <a href="{% url 'contract_detail' contract.slug %}"
                                       style="color: #4da3ff">{{ contract.name }}</a>

                                </td>

                                <td>{{ contract.contractor }}</td>
                                <td>{{ contract.number_contract }}</td>
                                <td>
                                    <a href=
                                               {% if '.doc' in contract.contract_file.url %}
                                                   "https://docs.google.com/gview?url={{ request.META.HTTP_HOST }}{{ contract.contract_file.url }}"
                                               {% else %}
                                                   "{{ contract.contract_file.url }}"
                                               {% endif %} style="color: #4da3ff; " target="_blank">посмотреть


                                    </a>
                                </td>
                                <td>{{ contract.bin }}</td>
                                <td>{{ contract.date_contract }}</td>
                                <td>{{ contract.get_status_display }}</td>
                                <td>{{ contract.created_at }}</td>
                                <td>{{ contract.updated_at }}</td>
                                {% if request.user.role == 'admin' or request.user.role == 'purchaser' %}
                                    <td>
                                        <a href="{% url 'contract_edit' contract.slug %}" class="btn btn-danger">
                                            Изменить</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}