{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <div class="row">
                        <div class="col-md-10"><h3>Оплаченные материалы</h3></div>
                        {#                        <div class="col-md-2"><a type="button" href="{% url 'contract_add' object.slug %}" class="btn btn-primary">Добавить работу</a></div>#}
                    </div>


                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Названия компании</th>
                                    <th>БИН</th>
                                    <th>Работа</th>
{#                                    <th></th>#}
{#                                    <th>Цена</th>#}
{#                                    <th>Сумма</th>#}
{#                                    <th>Статус</th>#}
{#                                    <th>Создан</th>#}
{#                                    <th>Изменен</th>#}
{#                                    <th></th>#}
                                </tr>
                                </thead>
                                <tbody>


                                {% for invoice in invoices %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td><a href="{% url 'invoice_materials' invoice.id %}" style="color: #4da3ff;">{{ invoice.name_company }}</a></td>
                                        <td>{{ invoice.bin }}</td>
                                        <td>{{ invoice.request_mat.contract.name }}</td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}