{% extends 'appbase/base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header d-block">
                    <div class="row">
                        <div class="col-md-10"><h3>Материалы</h3></div>
                        {#                        <div class="col-md-2"><a type="button" href="{% url 'contract_add' object.slug %}" class="btn btn-primary">Добавить работу</a></div>#}
                    </div>


                </div>
                <div class="card-body p-0 table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Работа</th>
                                <th>Название</th>
                                <th style="width: 15px">брак</th>
                                <th style="width: 15px">нех.</th>
                                <th style="width: 15px">нес.</th>
                                <th style="width: 15px">ок</th>
                                <th>Количество</th>
                                <th>ед. изм.</th>
                                <th>Цена</th>
                                <th>Сумма</th>
                                <th>Статус</th>
                                {#                                <th>Создан</th>#}
                                {#                                <th>Изменен</th>#}
                                <th>Доставлено?</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for material in materials %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ material.invoice.request_mat.contract }}</td>
                                    <td>{{ material.name }}</td>
                                    <td>{{ material.brak }}</td>
                                    <td>{{ material.nexvatka }}</td>
                                    <td>{{ material.nesotvetsvie }}</td>
                                    <td>{{ material.ok }}</td>
                                    <td>{{ material.quantity }}</td>
                                    <td>{{ material.units }}</td>
                                    <td>{{ material.price }}</td>
                                    <td>{{ material.sum_price }}</td>
                                    <td>{{ material.status }}</td>
                                    {#                                    <td>{{ material.created_at }}</td>#}
                                    {#                                    <td>{{ material.updated_at }}</td>#}
                                    <td>{{ material.is_delivery }}</td>
                                    {#                                    <td><input type="checkbox" name="materials" value="{{ material.id }}"></td>#}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}