{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="card">

                <div class="card-header d-block">
<a href="/contract/{{ released_material.contract.slug }}/relesed_materials" class="btn btn-light"><i
                            class="ik ik-arrow-left"></i>Назад</a>

                    <h2>Добавить накладную на отпуск (с подписью)</h2>
                </div>

                <div class="card-body">
                    <form class="forms-sample" action="{% url 'add_release_waybill' released_material.id %}" method="post"
                          enctype="multipart/form-data">


                        <div class="form-group">
                            <label>Файл</label>
                            <input type="file" name="waybill" class="form-control">

                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mr-2">Сохранить</button>


                    </form>
                </div>
            </div>
        </div>

{% endblock %}